body{
    width: 100%;
    margin: 0;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.div1{
    margin: 0 auto;
    margin-top: -55px;
    padding-top: 5px;
    width: 100%;
    height: 600px;
    background-image: url("../img/Image.jpg");
    /*Cria uma parallax*/
    background-attachment: fixed; /*Diz se a imagem vai ser fixa ou se vai rolar junto com os elementos*/
    background-position: center; /*Diz onde a imagem vai ficar de acordo com o espaço em que ocupa*/
    background-repeat: no-repeat; /*Faz com que a imagem não se repita se o tamanho máx. for atingido*/
    background-size: cover; 
}
.text{
    margin: 0 0 0 10px;
    font-size: 75px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    line-height: 80px;
    letter-spacing: -1px;        }
.div2{
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 80%;
    height: 638px;
    background-color:#F3F3F3;
}
#image{
    margin-right: -4px;
    width: 60%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    background-image: url("../img/image2.jpg");
}
.form{
    margin-right: -4px;
    width: 40%;
    height: 100%;
    background-color: #F3F3F3;
    float: right;
}
.form_position {
    margin: 10% 0 0 0
}
h1 {
    padding-left: 10%;
}
.form input {
    margin-bottom: 10%;
}
.block{
    width: 72%;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 5%;
    margin: 0 10% 8% 10%;
    border-radius: 12px;
    border-color: transparent;
    font-size: 15px;
    color: #969696;
}
.block2{
    width: 72%;
    height: 100px;
    padding-left: 5%;
    margin: 0 10% 10% 10%;
    border-radius: 12px;
    border-color: transparent;
    font-size: 15px;
    color: #969696;
}
.checkbox{
    margin: 0 0 8% 10%;
}
.checkbox:checked{
    cursor:pointer;
    background-color: black;
    color: white;
    border-color: transparent;
}
.label {
    color: #969696;
    font-size: 15px;
}
.button{
    width: 78%;
    height: 50px;
    margin: 0 10% 0 10%;
    border-radius: 12px;
    border-color: black;
    font-size: 15px;
    font-weight: bolder;
}
.button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    border-color: transparent;
}